<script type="text/javascript">
    (function (w, d, t, g, u) {
        w[g]=w[g]||function(){(w[g].q=w[g].q||[]).push(arguments);};
        var tag=d.createElement('script');
        tag.async=true;tag.src=u+'?g='+g+'&t='+t;
        var s=d.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tag, s);
    }(window, document, '%s', 'weba', '%s'));

    weba('send', {
        event: 'pageView'
    });
</script>