spring.datasource.url= jdbc:postgresql://100.0.0.1:5432/weba
spring.datasource.username=postgres
spring.datasource.password=mysecretpassword

logging.level.org.hibernate.SQL=DEBUG

spring.profiles.active=testing

